@using Entidades

@model List<E_Pelicula>

<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <link href="~/Content/bootstrap.css" rel="stylesheet" />
        <link href="~/Scripts/bootstrap.js" rel="stylesheet" />
        <title>Consulta</title>
        <style>
            body {
                background-color: #212529;
                color: white;
            }

            header {
                margin-top: 30px;
                border-radius: 5px;
            }
        </style>
    </head>
    <body class="container">
        <header>
            <nav class="navbar" style="background-color: #702CF6";>
                <div class="container-fluid">
                    <h1 class="navbar-brand" style="color: white;">Cartelera</h1>
                    <a class="btn btn-success" href="/Home/IrAgregar">Agregar pelicula</a>
                </div>
            </nav>
        </header>
        <main>
            <div id="messages" class="mt-1">
                @if (TempData["error"] != null)
                {
                    <p class="alert alert-danger">@TempData["error"]</p>
                }
                @if (TempData["success"] != null)
                {
                    <p class="alert alert-success">@TempData["success"]</p>
                }
            </div>
            <div class="mt-3">
                <table class="table table-bordered table-dark table-hover">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Nombre</th>
                            <th>Genero</th>
                            <th>Fecha Estreno</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (E_Pelicula pelicula in Model)
                        {
                            <tr>
                                <td>@pelicula.getIdPelicula</td>
                                <td>@pelicula.getNombre</td>
                                <td>@pelicula.getGenero</td>
                                <td>@pelicula.getFechaEstreno</td>
                                <td>
                                    <a class="btn btn-info" href="/Home/IrEditar?id=@pelicula.getIdPelicula">Editar</a>
                                    <a class="btn btn-danger" href="/Home/IrEliminar?id=@pelicula.getIdPelicula">Eliminar</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </main>
    </body>
</html>
